@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Jura:wght@500&family=Playfair+Display:wght@500&family=Roboto+Condensed:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "ABeeZee", sans-serif;
}

a {
  text-decoration: none;
}

.header {
  background-color: #03071E;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .titulo {
  padding: 2rem;
  color: #d90429;
}
.header .menu {
  width: 100%;
}
.header .menu .menu__list {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .menu .menu__list .list__item {
  list-style: none;
  color: #d90429;
  padding-bottom: 1rem;
}
.header .menu .menu__list .list__item .menu__icon {
  padding-right: 0.5rem;
}
.header .menu .menu__list .list__item:hover {
  opacity: 0.75;
}

.index__seccion {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 3rem;
  background-color: #9D0208;
}
.index__seccion .index__imagen {
  padding: 1rem;
  width: 16rem;
  height: 13rem;
}
.index__seccion .index__boton {
  font-size: 0.8rem;
  text-align: center;
  padding: 0.8rem;
  border: 0.3rem solid #03071E;
  border-radius: 0.8rem;
  background-color: #d90429;
  color: #03071E;
}
.index__seccion .index__boton:hover {
  background-color: #EF233C;
}

.footer {
  width: 100%;
  background-color: #03071E;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .redes__icon {
  font-size: 2rem;
  color: #d90429;
  padding: 2rem 0.2rem;
}
.footer .redes__icon:hover {
  font-size: 4rem;
  padding: 0 1rem;
}

@media screen and (min-width: 700px) {
  .header .titulo {
    font-size: 3rem;
  }
  .header .menu {
    align-self: flex-end;
  }
  .header .menu .menu__list {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .header .menu .menu__list .list__item {
    width: auto;
    font-size: 1.1rem;
  }

  .index__seccion {
    background-image: url(../imagenes/cinefondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 45rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .index__seccion .index__imagen {
    display: none;
  }
  .index__seccion .index__boton {
    font-size: 1rem;
    padding: 1.4rem;
    margin-right: 8.5rem;
  }

  .footer .redes__icon {
    font-size: 3rem;
    padding: 3rem 0.3rem;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    flex-direction: row;
    align-items: flex-end;
  }
  .header .titulo {
    width: 45%;
    font-size: 5rem;
  }
  .header .menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 55%;
    height: 100%;
  }
  .header .menu .menu__list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-bottom: 1rem;
  }
  .header .menu .menu__list .list__item {
    font-size: 1.4rem;
  }

  .index__seccion .index__boton {
    padding: 1.8rem 2rem;
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=main.css.map */
