@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Jura:wght@500&family=Playfair+Display:wght@500&family=Roboto+Condensed:wght@300&display=swap");
.seccion {
  background-image: url(../imagenes/cinefondo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.seccion__contacto {
  display: flex;
  justify-content: flex-end;
}
.seccion__contacto .form {
  display: flex;
  flex-direction: column;
  border: 0.3rem solid #03071E;
  border-radius: 0.8rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-right: 15rem;
  align-items: center;
  color: #d90429;
  background-color: #03071E;
  padding: 1rem;
}
.seccion__contacto .form .form__titulo {
  margin: 2rem 4rem;
  font-size: 2rem;
}
.seccion__contacto .form .form__preguntas {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.seccion__contacto .form .form__preguntas .form__pregunta {
  margin: 0.5rem 2rem;
  padding: 0.8rem;
  outline-style: none;
  border: 3px solid #3A0CA3;
}
.seccion__contacto .form .form__container--comentario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
  width: 100%;
}
.seccion__contacto .form .form__container--comentario .form__comentario--titulo {
  padding: 0.5rem;
  font-size: 1.4rem;
}
.seccion__contacto .form .form__container--comentario .form__comentario {
  margin-bottom: 2rem;
  padding: 0.8rem;
  outline: none;
}
.seccion__contacto .form .form__botones .form__boton--enviar, .seccion__contacto .form .form__botones .form__boton--borrar {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #03071E;
  border: 3px solid #d90429;
  border-radius: 0.5rem;
  color: #d90429;
  margin: 0 1rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 1000px) {
  .seccion__contacto {
    display: flex;
    justify-content: center;
  }
  .seccion__contacto .form {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .seccion__contacto .form {
    padding: 0rem;
  }
}
.seccion__donar {
  display: flex;
  justify-content: flex-end;
}
.seccion__donar .donar__articulo {
  border: 0.3rem solid #03071E;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-right: 15rem;
}
.seccion__donar .donar__articulo .donar__titulos {
  margin-bottom: 15rem;
  text-align: center;
}
.seccion__donar .donar__articulo .donar__titulos .donar__titulo {
  padding: 1rem 0;
  font-size: 2.5rem;
}
.seccion__donar .donar__articulo .donar__titulos .donar__subtitulo {
  font-size: 1.5rem;
}
.seccion__donar .donar__articulo .donar__parrafo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.seccion__donar .donar__articulo .donar__parrafo .donar__texto {
  font-size: 1.5rem;
  padding: 1rem;
}
.seccion__donar .donar__articulo .donar__parrafo .donar__icono {
  font-size: 4rem;
  color: black;
}

@media screen and (max-width: 1200px) {
  .seccion__donar {
    justify-content: center;
    background-color: #9D0208;
    background-image: none;
    padding: 3rem;
  }
  .seccion__donar .donar__articulo {
    margin-right: 0;
  }
}
@media screen and (max-width: 500px) {
  .seccion__donar .donar__articulo {
    padding: 1rem;
  }
  .seccion__donar .donar__articulo .donar__titulos .donar__titulo {
    font-size: 1.8rem;
  }
  .seccion__donar .donar__articulo .donar__titulos .donar__subtitulo {
    font-size: 1.2rem;
  }
  .seccion__donar .donar__articulo .donar__parrafo .donar__texto {
    font-size: 1.2rem;
  }
  .seccion__donar .donar__articulo .donar__parrafo .donar__icono {
    font-size: 3rem;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "ABeeZee", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

.header {
  background-color: #03071E;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .titulo {
  padding: 2rem;
  color: #d90429;
}
.header #color__titulo {
  color: #d90429;
}
.header .menu {
  width: 100%;
}
.header .menu .menu__list {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .menu .menu__list .list__item {
  list-style: none;
  color: #d90429;
  padding-bottom: 1rem;
}
.header .menu .menu__list .list__item .menu__icon {
  padding-right: 0.5rem;
}
.header .menu .menu__list .list__item:hover {
  text-decoration: underline;
}

.index__seccion {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #9D0208;
}
.index__seccion .index__imagen {
  padding: 1rem;
  width: 16rem;
  height: 13rem;
}
.index__seccion .index__boton {
  font-size: 0.8rem;
  text-align: center;
  padding: 0.8rem;
  border: 0.3rem solid #03071E;
  border-radius: 0.8rem;
  background-color: #d90429;
  color: #03071E;
}
.index__seccion .index__boton:hover {
  background-color: #EF233C;
}

.footer {
  background-color: #03071E;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .redes__icon {
  font-size: 2rem;
  color: #d90429;
  padding: 2rem 0.2rem;
}
.footer .redes__icon:hover {
  font-size: 3.5rem;
  padding: 1 1rem;
}

@media screen and (min-width: 700px) {
  .header .titulo {
    font-size: 3rem;
  }
  .header .menu {
    align-self: flex-end;
  }
  .header .menu .menu__list {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .header .menu .menu__list .list__item {
    width: auto;
    font-size: 1.1rem;
  }

  .index__seccion {
    background-image: url(../imagenes/cinefondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .index__seccion .index__imagen {
    display: none;
  }
  .index__seccion .index__boton {
    font-size: 1rem;
    padding: 1.4rem;
    margin-right: 8.5rem;
  }

  .footer .redes__icon {
    font-size: 3rem;
    padding: 3rem 0.3rem;
  }
  .footer .redes__icon:hover {
    font-size: 4rem;
    padding: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    flex-direction: row;
    align-items: flex-end;
  }
  .header .titulo {
    width: 45%;
    font-size: 5rem;
  }
  .header .menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 55%;
    height: 100%;
  }
  .header .menu .menu__list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-bottom: 1rem;
  }
  .header .menu .menu__list .list__item {
    font-size: 1.4rem;
  }

  .index__seccion .index__boton {
    padding: 1.8rem 2rem;
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=main.css.map */
