@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Jura:wght@500&family=Playfair+Display:wght@500&family=Roboto+Condensed:wght@300&display=swap");
.seccion__contacto {
  display: flex;
  justify-content: flex-end;
  background-image: url(../imagenes/cinefondo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.seccion__contacto .form {
  display: flex;
  flex-direction: column;
  border: 0.3rem solid #03071E;
  border-radius: 0.8rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-right: 15rem;
  align-items: center;
  color: #d90429;
  background-color: #03071E;
  padding: 1rem;
}
.seccion__contacto .form .form__titulo {
  margin: 2rem 6rem;
  font-size: 2rem;
}
.seccion__contacto .form .form__preguntas {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.seccion__contacto .form .form__preguntas .form__pregunta {
  margin: 0.5rem 2rem;
  padding: 0.8rem;
  outline-style: none;
  border: 3px solid #3A0CA3;
}
.seccion__contacto .form .form__container--comentario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
  width: 100%;
}
.seccion__contacto .form .form__container--comentario .form__comentario--titulo {
  padding: 0.5rem;
  font-size: 1.4rem;
}
.seccion__contacto .form .form__container--comentario .form__comentario {
  margin-bottom: 2rem;
  padding: 0.8rem;
  outline: none;
}
.seccion__contacto .form .form__botones .form__boton--enviar, .seccion__contacto .form .form__botones .form__boton--borrar {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #03071E;
  border: 3px solid #d90429;
  border-radius: 0.5rem;
  color: #d90429;
  margin: 0 1rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 1000px) {
  .seccion__contacto {
    display: flex;
    justify-content: center;
  }
  .seccion__contacto .form {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .seccion__contacto {
    background-image: none;
    background-color: #d90429;
  }
  .seccion__contacto .form {
    padding: 0rem;
  }
  .seccion__contacto .form .form__titulo {
    margin: 1.5rem 1rem;
  }
  .seccion__contacto .form .form__container--comentario .form__comentario {
    font-size: 0.8rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
.seccion__donar {
  display: flex;
  justify-content: flex-end;
  background-image: url(../imagenes/cinefondo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.seccion__donar .donar__articulo, .seccion__donar .historia__articulo {
  border: 0.3rem solid #03071E;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-right: 15rem;
}
.seccion__donar .donar__articulo .donar__titulos, .seccion__donar .historia__articulo .donar__titulos {
  margin-bottom: 15rem;
  text-align: center;
}
.seccion__donar .donar__articulo .donar__titulos .donar__titulo, .seccion__donar .historia__articulo .donar__titulos .donar__titulo {
  padding: 1rem 0;
  font-size: 2.5rem;
}
.seccion__donar .donar__articulo .donar__titulos .donar__subtitulo, .seccion__donar .historia__articulo .donar__titulos .donar__subtitulo {
  font-size: 1.5rem;
}
.seccion__donar .donar__articulo .donar__parrafo, .seccion__donar .historia__articulo .donar__parrafo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.seccion__donar .donar__articulo .donar__parrafo .donar__texto, .seccion__donar .historia__articulo .donar__parrafo .donar__texto {
  font-size: 1.5rem;
  padding: 1rem;
}
.seccion__donar .donar__articulo .donar__parrafo .donar__icono, .seccion__donar .historia__articulo .donar__parrafo .donar__icono {
  font-size: 4rem;
  color: black;
}

@media screen and (max-width: 1200px) {
  .seccion__donar {
    justify-content: center;
    background-color: #d90429;
    background-image: none;
    padding: 3rem;
  }
  .seccion__donar .donar__articulo, .seccion__donar .historia__articulo {
    margin-right: 0;
  }
}
@media screen and (max-width: 500px) {
  .seccion__donar .donar__articulo, .seccion__donar .historia__articulo {
    padding: 1rem;
  }
  .seccion__donar .donar__articulo .donar__titulos .donar__titulo, .seccion__donar .historia__articulo .donar__titulos .donar__titulo {
    font-size: 1.8rem;
  }
  .seccion__donar .donar__articulo .donar__titulos .donar__subtitulo, .seccion__donar .historia__articulo .donar__titulos .donar__subtitulo {
    font-size: 1.2rem;
  }
  .seccion__donar .donar__articulo .donar__parrafo .donar__texto, .seccion__donar .historia__articulo .donar__parrafo .donar__texto {
    font-size: 1.2rem;
  }
  .seccion__donar .donar__articulo .donar__parrafo .donar__icono, .seccion__donar .historia__articulo .donar__parrafo .donar__icono {
    font-size: 3rem;
  }
}
#historia__articulo--margen {
  margin-right: 10rem;
}

.historia__articulo {
  max-width: 35rem;
}
.historia__articulo .historia__titulos {
  text-align: center;
  margin-bottom: 5rem;
}
.historia__articulo .historia__titulos .historia__titulo {
  font-size: 2.5rem;
}
.historia__articulo .historia__texto {
  padding: 1rem;
  font-size: 1.4rem;
}

@media screen and (max-width: 1200px) {
  #historia__articulo--margen {
    margin-right: 0rem;
  }
}
.masvistas__seccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #d90429cc;
}
.masvistas__seccion .masvistas__titulo {
  font-size: 3rem;
  padding: 3rem;
  text-align: center;
  color: black;
}
.masvistas__seccion .masvistas__articulo {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 0.3rem solid #03071E;
  border-radius: 0.8rem;
  margin-bottom: 2rem;
}
.masvistas__seccion .masvistas__articulo:hover {
  background-color: #EF233C;
}
.masvistas__seccion .masvistas__articulo .articulo__titulo {
  margin-right: 2.5rem;
  text-align: center;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 4rem;
  background-color: #E71D36;
  border: 0.3rem solid #03071E;
  border-radius: 0.8rem;
}
.masvistas__seccion .masvistas__articulo #articulo__titulo--cienciaficcion {
  flex-direction: column;
}
.masvistas__seccion .masvistas__articulo .masvistas__imagenes {
  width: 9rem;
  height: 15rem;
  margin-right: 2.5rem;
}

@media screen and (max-width: 1380px) {
  .masvistas__seccion .masvistas__articulo .articulo__titulo {
    margin: 0 1.2rem;
  }
  .masvistas__seccion .masvistas__articulo .masvistas__imagenes {
    height: 11rem;
    width: 7rem;
    margin-right: 1.2rem;
  }
}
@media screen and (max-width: 1080px) {
  .masvistas__articulos {
    display: flex;
    padding: 2rem;
  }
  .masvistas__articulos .masvistas__articulo {
    flex-direction: column;
    margin: 0 1.5rem;
  }
  .masvistas__articulos .masvistas__articulo .articulo__titulo {
    margin: 1.2rem 0;
  }
  .masvistas__articulos .masvistas__articulo .masvistas__imagenes {
    height: 11rem;
    width: 7rem;
    margin-bottom: 1.2rem;
    margin-right: 0;
  }
}
@media screen and (max-width: 850px) {
  .masvistas__seccion .masvistas__titulo {
    font-size: 2.3rem;
  }
  .masvistas__seccion .masvistas__articulos {
    display: grid;
    grid-template-areas: "articulo1 articulo2" "articulo3 articulo4    ";
    row-gap: 2rem;
    column-gap: 1rem;
  }
  .masvistas__seccion #masvistas__articulo1 {
    grid-area: articulo1;
  }
  .masvistas__seccion #masvistas__articulo2 {
    grid-area: articulo2;
  }
  .masvistas__seccion #masvistas__articulo3 {
    grid-area: articulo3;
  }
  .masvistas__seccion #masvistas__articulo4 {
    grid-area: articulo4;
  }
}
@media screen and (max-width: 420px) {
  .masvistas__articulos {
    display: flex;
  }
  .masvistas__articulos .masvistas__articulo {
    flex-direction: column;
    margin: 0 0.5rem;
  }
  .masvistas__articulos .masvistas__articulo .articulo__titulo {
    margin: 0.8rem 0;
  }
  .masvistas__articulos .masvistas__articulo .masvistas__imagenes {
    height: 8rem;
    width: 5rem;
    margin-bottom: 0.8rem;
  }
}
.seccion__review {
  display: flex;
  flex-direction: column;
  background-color: #d90429dd;
}
.seccion__review .review__titulo {
  align-self: center;
  padding: 3.5rem;
  font-size: 3rem;
}
.seccion__review .review__articulos {
  display: grid;
  grid-template-areas: "trailer valoracion" "review datos" "review ver";
  grid-template-columns: 5fr 4fr;
  row-gap: 5rem;
}
.seccion__review .review__articulos .review__articulo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seccion__review .review__articulos .review__trailer {
  grid-area: trailer;
}
.seccion__review .review__articulos .review__trailer .review__trailer--video {
  width: 35rem;
  height: 20rem;
}
.seccion__review .review__articulos .review__review {
  grid-area: review;
  margin: 0 5rem;
  text-align: center;
  padding: 4rem;
  padding-top: 0rem;
  font-weight: 700;
}
.seccion__review .review__articulos .review__review .review__texto {
  padding: 1rem;
}
.seccion__review .review__articulos .review__valoracion {
  grid-area: valoracion;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seccion__review .review__articulos .review__valoracion .review__valoracion--container {
  text-align: center;
  padding: 2rem;
  border: 0.3rem solid #03071E;
  border-radius: 0.8rem;
}
.seccion__review .review__articulos .review__valoracion .review__valoracion--container .review__valoracion--titulo {
  padding: 1rem;
  font-size: 2.3rem;
}
.seccion__review .review__articulos .review__valoracion .review__valoracion--container .review__valoracion--estrellas {
  color: #F48C06;
  font-size: 3rem;
}
.seccion__review .review__articulos .review__datos {
  grid-area: datos;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.seccion__review .review__articulos .review__datos .review__datos--texto {
  font-size: 1.4rem;
  padding: 0.5rem;
}
.seccion__review .review__articulos .review__ver {
  grid-area: ver;
}
.seccion__review .review__articulos .review__ver .review__ver--titulo {
  font-size: 2.3rem;
  padding: 1rem;
}
.seccion__review .review__articulos .review__ver .review__ver--icono {
  font-size: 3.2rem;
}
.seccion__review .review__articulos .review__ver .review__ver--icono:hover {
  font-size: 4.5rem;
}
.seccion__review .review__articulos .review__ver .review__ver--youtube {
  color: red;
}
.seccion__review .review__articulos .review__ver .review__ver--flow {
  width: 4rem;
  height: 4rem;
  border-radius: 1.5rem;
}
.seccion__review .review__articulos .review__ver .review__ver--flow:hover {
  width: 5rem;
  height: 5rem;
}
.seccion__review .review__articulos .review__ver .review__ver--disney {
  width: 6.5rem;
  height: 4rem;
  border-radius: 1.5rem;
}
.seccion__review .review__articulos .review__ver .review__ver--disney:hover {
  width: 7rem;
  height: 5rem;
}

@media screen and (max-width: 1150px) {
  .seccion__review .review__articulos .review__trailer .review__trailer--video {
    width: 24rem;
    height: 16rem;
  }
  .seccion__review .review__articulos .review__review {
    margin: 0;
  }
  .seccion__review .review__articulos .review__valoracion .review__valoracion--container {
    text-align: center;
    padding: 2rem;
    border: 0.3rem solid #03071E;
    border-radius: 0.8rem;
  }
  .seccion__review .review__articulos .review__valoracion .review__valoracion--container .review__valoracion--titulo {
    padding: 1rem;
    font-size: 1.8rem;
  }
  .seccion__review .review__articulos .review__valoracion .review__valoracion--container .review__valoracion--estrellas {
    color: #F48C06;
    font-size: 2rem;
  }
}
@media screen and (max-width: 750px) {
  .seccion__review {
    align-items: center;
    justify-content: center;
  }
  .seccion__review .review__titulo {
    text-align: center;
    font-size: 2.4rem;
  }
  .seccion__review .review__articulos {
    grid-template-areas: "valoracion valoracion" "trailer trailer" "datos datos" "review review" "ver ver" ". .";
  }
  .seccion__review .review__articulos .review__datos {
    padding: 0 2rem;
  }
  .seccion__review .review__articulos .review__review {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 450px) {
  .seccion__review .review__articulos .review__trailer .review__trailer--video {
    width: 17rem;
    height: 14rem;
  }
}
@media screen and (max-width: 350px) {
  .seccion__review .review__articulos .review__review {
    padding: 0 2rem;
  }
  .seccion__review .review__articulos .review__valoracion .review__valoracion--container {
    padding: 1.5rem;
  }
  .seccion__review .review__articulos .review__valoracion .review__valoracion--container .review__valoracion--estrellas {
    font-size: 1.5rem;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "ABeeZee", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

.header {
  background-color: #03071E;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .titulo {
  padding: 2rem;
  color: #d90429;
}
.header #color__titulo {
  color: #d90429;
}
.header .menu {
  width: 100%;
}
.header .menu .menu__list {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .menu .menu__list .list__item {
  list-style: none;
  color: #d90429;
  padding-bottom: 1rem;
}
.header .menu .menu__list .list__item .menu__icon {
  padding-right: 0.5rem;
}
.header .menu .menu__list .list__item:hover {
  color: #EF233C;
  font-weight: 700;
  transition-duration: 1;
}

.index__seccion {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #C00021dd;
}
.index__seccion .index__imagen {
  padding: 1rem;
  width: 16rem;
  height: 13rem;
}
.index__seccion .index__boton {
  font-size: 0.8rem;
  text-align: center;
  padding: 0.8rem;
  border: 0.3rem solid #03071E;
  border-radius: 0.8rem;
  background-color: #d90429;
  color: #03071E;
}
.index__seccion .index__boton:hover {
  background-color: #EF233C;
}

.footer {
  background-color: #03071E;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .redes__icon {
  font-size: 2rem;
  color: #d90429;
  padding: 2rem 0.2rem;
}
.footer .redes__icon:hover {
  color: #EF233C;
}

@media screen and (min-width: 700px) {
  .header .titulo {
    font-size: 3rem;
  }
  .header .menu {
    align-self: flex-end;
  }
  .header .menu .menu__list {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .header .menu .menu__list .list__item {
    width: auto;
    font-size: 1.1rem;
  }

  .index__seccion {
    background-image: url(../imagenes/cinefondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .index__seccion .index__imagen {
    display: none;
  }
  .index__seccion .index__boton {
    font-size: 1rem;
    padding: 1.4rem;
    margin-right: 8.5rem;
  }

  .footer .redes__icon {
    font-size: 3rem;
    padding: 3rem 0.3rem;
  }
}
@media screen and (min-width: 1200px) {
  * .header {
    flex-direction: row;
    align-items: flex-end;
  }
  * .header .titulo {
    width: 45%;
    font-size: 5rem;
  }
  * .header .menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 55%;
    height: 100%;
  }
  * .header .menu .menu__list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-bottom: 1rem;
  }
  * .header .menu .menu__list .list__item {
    font-size: 1.4rem;
  }
  * .index__seccion .index__boton {
    padding: 1.8rem 2.5rem;
    font-size: 1.3rem;
  }
}

/*# sourceMappingURL=main.css.map */
