.seccion__donar{
    display: flex;
    justify-content: flex-end;
    
    .donar__articulo{
        @include borde;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
        margin-right: 15rem;

        .donar__titulos{
            margin-bottom: 15rem;
            text-align: center;
            
            .donar__titulo{
                padding: 1rem 0;
                font-size: 2.5rem;
                
            }

            .donar__subtitulo{
                font-size: 1.5rem;
            }
        }

        .donar__parrafo{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .donar__texto{
                font-size: 1.5rem;
                padding: 1rem;
            }

            .donar__icono{
                font-size: 4rem;
                color: black;
            }
        }
    }
    
}

@media screen and (max-width:1200px) {
    .seccion__donar{
        justify-content: center;
        background-color: $bordo;
        background-image: none;
        padding: 3rem;
        .donar__articulo{
            margin-right: 0;
            
            
        }
    }
}

@media screen and (max-width: 500px) {

    .seccion__donar{

        .donar__articulo{
            padding: 1rem;

            .donar__titulos{
                .donar__titulo{
                    font-size: 1.8rem
                }

                .donar__subtitulo{
                    font-size: 1.2rem;
                }
            }
            
            .donar__parrafo{
                .donar__texto{
                    font-size: 1.2rem;
                }
            
                .donar__icono{
                    font-size: 3rem;
                }
            }
            
        }
    }
    
}