.masvistas__seccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #d90429ee;
    


    .masvistas__titulo{
        font-size: 3rem;
        padding: 3rem;
        text-align: center;
        color: black;
    }

    .masvistas__articulo{
        display: flex;
        align-items: center ;
        padding: 1rem;
        @include borde;
        margin-bottom: 2rem;

        &:hover{
            background-color: #EF233C   ;
        }
        
        .articulo__titulo{
            margin-right: 2.5rem;
            text-align: center;
            margin-left: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 8rem;
            height: 4rem;
            background-color: #E71D36;
            @include borde;
        }

        #articulo__titulo--cienciaficcion{
            flex-direction: column;
        }

        .masvistas__imagenes{
            width: 9rem;
            height: 15rem;
            margin-right: 2.5rem;
        }
    }
}


@media screen and (max-width:1380px) {
    .masvistas__seccion{
        
        .masvistas__articulo{

            .articulo__titulo{
                margin: 0 1.2rem;
            }

            .masvistas__imagenes{
                height: 11rem;
                width: 7rem;
                margin-right: 1.2rem;
            }
        }
        
    }
}

@media screen and (max-width:1080px) {
    .masvistas__articulos{
       display: flex;
        padding: 2rem;
       .masvistas__articulo{
           flex-direction: column;
            margin:0 1.5rem ;
           
            .articulo__titulo{
            margin: 1.2rem 0;
            }

            .masvistas__imagenes{
            height: 11rem;
            width: 7rem;
            margin-bottom: 1.2rem;
            margin-right: 0;
        }
       }
    }
}

@media screen and (max-width:850px) {

    .masvistas__seccion{
        
        .masvistas__titulo{
            font-size: 2.3rem;
        }

        .masvistas__articulos{
            display: grid;
            grid-template-areas:
            "articulo1 articulo2"
            "articulo3 articulo4    "
            ;
            row-gap: 2rem;
            column-gap: 1rem;
        

        }

        #masvistas__articulo1{
            grid-area: articulo1;
        }
        
        #masvistas__articulo2{
            grid-area: articulo2;
        }

        #masvistas__articulo3{
            grid-area: articulo3;
        }
        
        #masvistas__articulo4{
            grid-area: articulo4;
        }
    }
}

@media screen and (max-width:420px) {
    .masvistas__articulos{
        display: flex;

        .masvistas__articulo{
            flex-direction: column;
             margin:0 .5rem ;
            
             .articulo__titulo{
             margin: .8rem 0;
             }
 
             .masvistas__imagenes{
             height: 8rem;
             width: 5rem;
             margin-bottom: .8rem;
             }
        }
     }
}

// Pagina review

.seccion__review{
    display: flex;
    flex-direction: column;
    background-color:#d90429dd ;

    .review__titulo{
        align-self: center;
        padding: 3.5rem;
        font-size: 3rem;
    }

    .review__articulos{
        display: grid;
        grid-template-areas:
        "trailer valoracion"
        "review datos"
        "review ver"
        ;

        grid-template-columns: 5fr 4fr;
        row-gap: 5rem;

        .review__articulo{
            display: flex;
            flex-direction: column;
            align-items: center;

        }
    
    .review__trailer{
        grid-area: trailer;
        .review__trailer--video{
            width: 35rem;
            height: 20rem;
        }
    }

    .review__review{
        grid-area: review;
        margin:0 5rem;
        text-align: center;
        padding: 4rem;
        padding-top: 0rem;
        font-weight: 700;
        .review__texto{
            padding: 1rem;
        }
    }

    .review__valoracion{
        grid-area: valoracion;
        display: flex;
        align-items: center;
        justify-content: center;
        .review__valoracion--container{
            text-align: center;
            padding: 2rem;
            @include borde;
            .review__valoracion--titulo{
                padding: 1rem;
                font-size: 2.3rem;
                
            }
    
            .review__valoracion--estrellas{
                color: #F48C06;
                font-size: 3rem;
            }
        }

    }

    .review__datos{
        grid-area: datos;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        
        .review__datos--texto{
            font-size: 1.4rem;
           padding: .5rem;
        }
    }
    
    .review__ver{
        grid-area: ver;
        
        
        .review__ver--titulo{
            font-size: 2.3rem;
            padding: 1rem;
        }

        .review__ver--icono{
            font-size: 3.2rem;
            
            &:hover{
                font-size: 4.5rem;
                
            }
        }

        .review__ver--youtube{
            color: red;
        }

        .review__ver--flow{
            width: 4rem;
            height: 4rem;
            border-radius: 1.5rem;

            &:hover{
                width: 5rem;
                height: 5rem;   
            }
        }

        .review__ver--disney{

            width: 6.5rem;
            height: 4rem;
            border-radius: 1.5rem;
    
            &:hover{
                width: 7rem;
                height: 5rem;
                
            }
        }
        

    }

    }

}

@media screen and (max-width:1150px) {
    
    .seccion__review{
        .review__articulos{
            
            .review__trailer{
                .review__trailer--video{
                    width: 24rem;
                    height: 16rem;  
                }
            }
            
            .review__review{
                margin: 0;
            }

            .review__valoracion{
                .review__valoracion--container{
                    text-align: center;
                    padding: 2rem;
                    @include borde;
                    .review__valoracion--titulo{
                        padding: 1rem;
                        font-size: 1.8rem;
                        
                    }
            
                    .review__valoracion--estrellas{
                        color: #F48C06;
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:750px){
    .seccion__review{
        align-items: center;
        justify-content: center;

        .review__titulo{
           text-align: center; 
           font-size: 2.4rem;
        }
        .review__articulos{
            grid-template-areas: 
            "valoracion valoracion"
            "trailer trailer"
            "datos datos"
            "review review"
            "ver ver"
            ". ."
            ;

            .review__datos{
                padding: 0 2rem;
                
            }

            .review__review{
                padding-bottom: 0;
            }
        }
    }
}

@media screen and (max-width:450px){
    .seccion__review{
        .review__articulos{
            .review__trailer{
                .review__trailer--video{
                    width: 17rem;
                    height: 14rem;
                }
            }
        }
    }

}

@media screen and (max-width:350px){
    .seccion__review{
        .review__articulos{

            .review__review{
                padding:0 2rem;
            }

            .review__valoracion{
                .review__valoracion--container{
                    padding: 1.5rem;
                    .review__valoracion--estrellas{
                        font-size: 1.5rem;
                    }
                }
                
            }
        }
    }

}